<div class="form-group">
  <form class="form-custom" [formGroup]="myform">
      <div class="form-group">
        <input placeholder="Email" type="email" class="form-control" formControlName="email" required>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" formControlName="password" required>
      </div>
    </form>

    <div class="form-group">
      <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" >
        Login with Email
      </button>
    </div>
    <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
        <i class="fa fa-google" aria-hidden="true"></i>
        Login with Google
      </button>
</div>